//CONTENTS

// 1. html & body
// 2. Site structure
//     2.1 Main header, aside and footer
//     2.2 Main content container


// 1. HTML & BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
html {}
body {
  background-color: $taupe;
  font-family: $font;
  font-size: 100%;
  color: $blue;
  @include at-least($screenXlarge) { font-size: 112%; }
  @include until($screenMedium) { font-size: 90%; }
  @include until($screenSmall) { font-size: 80%; }
}
// remember to define focus styles!
:focus { outline: 0; }

// 2. SITE STRUCTURE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 2.1 Main header, aside & footer
// Default layout is full width add .layout-sidebar for large screens to have side nav

header {
  padding: $verticalSpace $gutter;
  box-shadow: 1px 0px 3px 1px $black;
  h1, nav {display:inline-block;}
  h1 {width:70%;}
  nav {
    width:29%; text-align:right;
    ul {
      @include clearListStyles();
      li {
        text-transform: uppercase;
        font-size:1.2em;
      }
    }
  }
}

.main-hero {
  padding: $verticalSpace*3 $gutter*2; margin-bottom:$verticalSpace/2;
  opacity: 0.8;
  background-color:$purple;
  background-image: url('../images/hero-crochet-yarn.jpg'), linear-gradient(45deg, $blue, $purple, $peach);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  color:$white;
  filter: contrast(1.2) brightness(1.1) saturate(75%);
  p {width:60%;}

}
@supports(background-blend-mode:overlay) {
  .main-hero {background-blend-mode:overlay;}
}
@supports-not(background-blend-mode:overlay) {
  .main-hero {opacity:0.8;}
}

.main-content {
  ul {
    display:flex; justify-content:space-between;
    flex-wrap: wrap; align-items: stretch;
    @include clearListStyles();
    li {
      position: relative;
      box-sizing: border-box;
      margin:0px; padding:0px;
      width:33.3%;
      background-color: $peach;
      a {
        margin:0px; padding:0px;
        display:block;
        box-shadow: inset 0px 0px 1px $gutter/2 transparentize($white,0.8);

        img {
          display: block;
          width: 100%;
          margin: 0px;
          border: 1px solid $white;
          filter: contrast(1.2) opacity(0.4) saturate(75%);
          mix-blend-mode: luminosity;
          transition: filter 1s ease 0s;
        }
        p {
          position:absolute; top:0px; left:0px;
          width:100%;
          padding: $verticalSpace $gutter; margin:0px;
          box-sizing: border-box;
          text-align:center; color:$white;
          opacity:1;
          transition: opacity 1s ease 0s;
        }
        button {
          position:absolute; bottom:0px; left:0px;
          padding:$verticalSpace/2 $gutter;
          background-color:$peach;
          color:white; font-size:$fontSize;
        }

        &:hover {
          
          img {filter: contrast(1.2) opacity(0.7) saturate(55%);}
          p {opacity:0;}
        }

      }
    }
  }
}

// could I use a transition as a hack for amount of mixblend mode

$totalListings:7;
$imgBkColors: ($blue, $purple, $pink, $peach);

@for $i from 1 through $totalListings {
  $arrayNo: $i%4;
  .main-content ul li:nth-of-type(#{$i}) {
    background-color: nth($imgBkColors, $arrayNo+1);
  }
}

footer {
  padding: $verticalSpace 0px 0px;
  display:flex; justify-content:space-between;
  border-top: 2px solid $brand2;
  @include until($screenMedium) {
    display: block;
    text-align: center;
  }
  p, ul {
      width:50%;
      @include until($screenMedium) {
        width:100%;
      }
  }
  ul {
    @include clearListStyles;
    display: flex; justify-content:flex-end;
    @include until($screenMedium) {
      justify-content: center;
      flex-wrap:wrap;
    }
    li {
      a {
        border:none;
        svg {
          width:auto; height:54px;
          padding:$verticalSpace/2 $gutter/2;
          box-sizing:border-box;
          background-color: $brand6;
          border-radius: 2px;
          @include smallFancyBorder($brand2, $brand6);
          path {fill:$brand2;}
        }
        &:hover {
          svg {
            background-color:$brand2;
            path {fill:$brand6;}
          }
        }
      }
    }
  }
}

// footer {
//   ul li {
//     &:nth-of-type(1) {
//       a:hover svg {background-color: $brand1;}}
//     &:nth-of-type(2) {
//       a:hover svg {background-color: $brand2;}}
//     &:nth-of-type(3) {
//       a:hover svg {background-color: $brand3;}}
//     &:nth-of-type(4) {
//       a:hover svg {background-color: $brand4;}}
//     &:nth-of-type(5) {
//       a:hover svg {background-color: $brand5;}}
//     &:nth-of-type(6) {
//       a:hover svg {background-color: $brand6;}}
    
//   }
// }

main {
  position: relative;
  flex: 1 0 auto; box-sizing:border-box;
}
main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: $verticalSpace;
  height: 0px;
  visibility: hidden;
}
